<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAS Browser</title>
    <link rel="stylesheet" href="../styles/style.css"></link>
    <script src="../controller/editor.js" defer></script>
</head>
<body>
    <a href="./index.html">Exit</a>
    <p id="inputs">Inputs: </p>
    <span class="br"></span>
    <a href="#" onclick="attachButtonClick()">Attach</a>
    <span class="br"></span>
    <span>Pause/Unpause key: <input type="text"></span>
</body>
</html>
